@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Muli', sans-serif;
	overflow: hidden;
	margin: 0;
	background: #111111;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	display: flex;
	padding: 0 20px;
}

.slide {
	height: 80vh;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	margin: 10px;
	color: #ffffff;
	flex: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
	transition: all 500ms ease-in-out;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
}

.slide h3 {
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 24px;
	margin: 0;
	opacity: 0;
}

.slide.active {
	flex: 10;
}

.slide.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;
	-webkit-transition: opacity 0.3s ease-in 0.4s;
	-moz-transition: opacity 0.3s ease-in 0.4s;
	-ms-transition: opacity 0.3s ease-in 0.4s;
	-o-transition: opacity 0.3s ease-in 0.4s;
	text-shadow: 3px 3px 2px #000000;
}

.ferrari {
	background-image: url('https://images.unsplash.com/photo-1583121274602-3e2820c69888?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
}

.lamborghini {
	background-image: url('https://images.unsplash.com/photo-1573950940509-d924ee3fd345?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1696&q=80');
}

.camaro {
	background-image: url('https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1694&q=80');
}

.astonMartin {
	background-image: url('https://images.unsplash.com/photo-1535732820275-9ffd998cac22?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80');
}

.tesla {
	background-image: url('https://images.unsplash.com/photo-1554744512-d6c603f27c54?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
}